= form_for @sku do |f|
  - if @sku.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sku.errors.count, "error")} prohibited this sku from being saved:"
      %ul
        - @sku.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
