= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message


  .fieldset
    .field
      .title
        = f.label :name, "Product Name"
      .value
        = f.text_field :name

  .nested
    .legend
      Skus

    #nested-skus
      = f.fields_for :skus do|sku|
        = render "skus/nested_fields_with_image", f: sku

    #add-nested-skus.button
      Add Skus

    #add-nested-skus-with-image.button
      Add Skus With Nested Image


  .actions
    = f.submit 'Save'
